* { 
    margin: 0;
    padding: 0;
    background-color: #0f160c;
}

body {
    height: 100vh;
    width: 100vw;
}


#content {
    display: grid;
    grid-template-columns: 4vw 30vw 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vh 22.5vh 26.25vh 26.25vh 5vh;
}

.left-side-bar {
    grid-area: 1 / 1 / 5 / 2;
    display: flex;

}

.left-modal-one {
    background-color: #0f160c;
    width: 1vw;
}

.left-modal-two {
    background-color: #d6d3d1;
    grid-area: 1 / 1 / 5 / 2;
    opacity: 0.5;
    width: 6vh;
    height: 0;
    z-index: 1000;
    transition: 1500ms ease-in-out;
}

.dropping {
    height: 100vh;
    background :linear-gradient( #ce9449 25%, #432304 100%)
}

.handwritten {
    transition: all 1s ease;
    transition-delay: 1s;
    grid-column: 2/4;
    grid-row: 1/3;
    z-index: 999;
}


 .handwritten .svg {
    position: absolute;
    height: 30vh;
    width: 100vh;
    z-index: 999;
    
}
svg {
    position: absolute;
    top: 5%;
    left: -60%;
    width: auto;
    height: 12vh;
    left: 10%;
    z-index: 1000;   
}

.mask {
    fill: none;
    stroke: white;
}


.mask {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  
  @keyframes strokeOffset {
    to {
      stroke-dashoffset: 0;
    }
  }
  

  #Mask-gelaccio-Gmain {
    animation: strokeOffset 1s linear forwards;
  }

  #Mask-gelaccio-Gsub {
    animation: strokeOffset 2s linear forwards 0.5s;
  }

  #Mask-gelaccio-e {
    animation: strokeOffset 1s linear forwards 1s; 
  }

  #Mask-gelaccio-l {
    animation: strokeOffset 1s linear forwards 1.5s; 
  }

  #Mask-gelaccio-a {
    animation: strokeOffset 1s linear forwards 2s; 
  }

  #Mask-gelaccio-c {
    animation: strokeOffset 1s linear forwards 2.5s; 
  }

  #Mask-gelaccio-cc {
    animation: strokeOffset 1s linear forwards 3s; 
  }

  #Mask-gelaccio-imain {
    animation: strokeOffset 1s linear forwards 3.5s; 
  }


  #Mask-gelaccio-o {
    animation: strokeOffset 1s linear forwards 4.0s; 
  }

  #Mask-gelaccio-isub {
    animation: strokeOffset 2s linear forwards 4.7s; 
  }



.text-container {
    grid-area: 2 / 4 / 3 / 6;
    align-self: center;
    z-index: 1000;
    font-size: 40px;
    color: #ddcfbe;
    opacity: 0;
    transition: 4500ms;
}

.fade {
    opacity: 1;
}

.image-container {
    z-index: 1000;
    grid-area: 2 / 2 / 5 / 4; 
    background: url(ice-cream-shop.avif);
    background-repeat: no-repeat;
}

img {
    z-index: 1000;
    grid-area: 2 / 2 / 5 / 3;
}

.button-modal {
    grid-area: 3 / 3 / 5 / 6;
    display: grid;
    width: 0;
    gap: 1vh;
    grid-template-rows:  1fr 1fr 1fr;
    transition: 1500ms ease-in-out;
}

.button-one, .button-two, .button-three  {
    border-top-right-radius: 20px;
     width: 0;
     background: linear-gradient(#d8d5d0 50% , #be8142 100%);
     transition: 1500ms ease-in-out;
    
}

.button-two {
    background-color: #be8142;
}

.button-three {
    background-color: #432304;
}

.extending {
    width: 100%;
}

.extOne {
    width: 80%;
}

.extTwo {
    width: 90%;
}

.extThree {
    width: 100%;
}

.image-container {
    animation: fadeIn 7s;
    -webkit-animation: fadeIn 4.5s;
    -moz-animation: fadeIn 4.5s;
    -o-animation: fadeIn 4.5s;
    -ms-animation: fadeIn 4.5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  } 